<?xml version="1.0" encoding="UTF-8"?>
<included>
    <logger name="no.nav.hjelpemidler.soknad.db.exception" level="OFF" />
    <logger name="org.flywaydb.core.internal.sqlscript" level="OFF" />
    <logger name="org.testcontainers.utility" level="OFF" />
    <logger name="tjenestekall" level="OFF" />
</included>
